<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta charset="UTF-8" />
		<title>SportParadise Shop</title>
		<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
	    <link rel="stylesheet" href="/assets/css/bill.css">
	    
	    <style>
			table, th, td {
			  border: 1px solid black;
			  border-collapse: collapse;
			  text-align: center;
			}
		</style>
	</head>
	<body class="flex items-center justify-center h-screen">
	<div class="rounded-lg border shadow-lg p-10 w-3/5">
	    <div class="flex flex-row justify-between pb-4">
	        <div>
	        	<h2 style="font-weight: bold; text-align: center;">THÔNG TIN ĐƠN HÀNG</h2>
	            <p>Mã đơn hàng: <span th:text="${orderEntry.orderId}"></span></p>
	        </div>
	        <div>
	        	<p>Ngày đặt hàng: <span th:text="${orderEntry.orderDate}"></span></p>
	        </div>
	    </div>
	    <div class="info">
            <div class="flex flex-col pb-8">
                <div class="pb-2">
                    <h2 class="text-xl font-bold">Người gửi</h2>
                </div>
                <div><span>SportParadise - Shop</span></div>
                <div><span>22 Mẹ Suốt Đà Nẵng</span></div>
                <div><span>0981113715</span></div>
                <div><span>sportparadiseshop28@gmail.com</span></div>

            </div>
            <div class="flex flex-col pb-8">
                <div class="pb-2">
                    <h2 class="text-xl font-bold">Người nhận</h2>
                </div>
                <div><span>Họ và tên:   </span><span style="font-weight: bold;" th:text="${orderEntry.user.name}"></span></div>
                <div><span>Số điện thoại:   </span><span style="font-weight: bold;" th:text="${orderEntry.phone}"></span></div>
                <div><span>Địa chỉ:   </span><span style="font-weight: bold;" th:text="${orderEntry.address}"></span></div>
            </div>
        </div>
	    <table>
	        <thead>
	        <tr>
	            <th>Tên sản phẩm</th>
	            <th>Số lượng</th>
	            <th>Size</th>
	            <th>Giá(VNĐ)</th>
	            <th>Giảm giá</th>
	        </tr>
	        </thead>
	        <tbody>
	        <tr th:each="item : ${list}">
	            <td th:text="${item.product.productName}"></td>
	            <td th:text="${item.quantity}"></td>
	            <td th:text="${item.size}"></td>
	            <td th:text="${#numbers.formatDecimal(item.product.price, 1, 'DEFAULT', 0, 'DEFAULT')}"></td>
	            <td th:text="${item.product.discount + '%'}"></td>
	        </tr>
	        </tbody>
	    </table>
	    <div class="flex flex-col pb-8" style="margin-top: 15px;">
	    	<th:block th:if="${orderEntry.status<=1}">
	    		<h2 class="text-xl font-bold">
		            Tổng tiền: <span style="font-weight: bold;" th:text="${#numbers.formatDecimal(orderEntry.amount, 1, 'DEFAULT', 0, 'DEFAULT')}"></span><span> VNĐ (SHIPCOD)</span>
		        </h2>
	    	</th:block>
	        <th:block th:if="${orderEntry.status==2}">
	    		<h2 class="text-xl font-bold">
		            Tổng tiền: <span style="font-weight: bold;" >0</span><span> VNĐ (ĐÃ THANH TOÁN)</span>
		        </h2>
	    	</th:block>
	    </div>
	    
	</div>
	</body>
</html>
